body {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    
}

.toolbar {
    margin-bottom: 12px;
    padding: 15px;
    border-radius: 9px;
}

#sketchPad {
    border: 5px solid #000;
    background-color: #fff;
}
